anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
beautifulsoup4==4.6.3
bokeh==0.13.0
conda==4.5.11
conda-build==3.15.1
Flask==1.0.2
Flask-Cors==3.0.6
html5lib==1.0.1
ipython==6.5.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
MarkupSafe==1.0
matplotlib==2.2.3
notebook==5.6.0
numpy==1.15.1
pandas==0.23.4
py==1.6.0
pylint==2.1.1
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.1.0
SQLAlchemy==1.2.11
Werkzeug==0.14.1
gunicorn
