<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>Flower Analysis App</title>
</head>
<body>
    <div class="container">
    	<div class="jumbotron">
        <h2>Flower Analysis Platform</h2> 
        <p>Write a flower review and see its class.</p> 
      </div>
    <!-- <form method="post" action="{{ url_for('main') }}"> -->
    <form action="http://localhost:5000/" method ="POST">
        <div class="form-group">
        <label>Review</label>
        <input name="review"  type="number" step ='0.01' value = "" class="form-control" placeholder="sepal length(cm)"/> 
        <input name="review"  type="number" step ='0.01' value = "" class="form-control" placeholder="sepal width"/> 
        <input name="review"  type="number" step ='0.01' value = "" class="form-control" placeholder="petal length"/> 
        <input name="review"  type="number" step ='0.01' value = "" class="form-control" placeholder="petal width"/> 

        </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</body>
</html>